.nosotros-p {
    width: 100%; /* Esto hará que el contenedor ocupe todo el ancho de la ventana del navegador */
     /* Esto hará que el contenedor ocupe todo el alto de la ventana del navegador */
    overflow: hidden; /* Esto ocultará cualquier contenido que se desborde del contenedor */
}

.nosotros-p video {
    width: 100%; /* Esto hará que el video ocupe todo el ancho disponible en su contenedor padre */
    height: fit-content; /* Esto hará que el video ocupe todo el alto disponible en su contenedor padre */
    object-fit: cover; /* Esto hará que el video mantenga su aspecto y se ajuste al tamaño del contenedor */
    overflow: hidden ;
}

.nosotros-timeline {
    padding: 2rem 2rem;
    background-color: #D9D9D9;
}

.nosotros-ubicacion {
    padding: 2rem 2rem;
}

.nosotros-info{
    padding:2rem 2rem;
}