.login_page {
        /* Aplicar el gradiente radial al fondo de la página completa */
        background: radial-gradient(circle at 50% 10%, #000 40%, #63e 100%);
        /* Configurar altura y ancho completos */
        /* Centrando los elementos dentro de la página */
        display: flex;
        justify-content: center;
        align-items: center;
        /* Agregar relleno como en el código original de Tailwind */
        margin: 0; /* Eliminar márgenes predeterminados */
        box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.login-content {
    display: flex;
    width: 800px;
    height: 450px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 30px;
    overflow: hidden;
}

.login-image {
    width: 50%;
}



.login-form {
    width: 50%;
    padding: 20px;
    background-color: black;
}

.title-login-form {
    display: flex;
    width: 100%;
    height: 50px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    /*necesito alinear todos los elementos a la izquierda*/
    text-align: left;
    padding-block: 0rem;
}

.title-login-form img{
    width: 80px;
    height: fit-content;
    object-fit: cover;
    padding-right: 10px ;
}

.title-login-form h1{
    color: white;
    font-size: 30px;
    padding-left: 10px;
}

.subtitle-login-form {
    padding: 0;
    margin: 0;
}

.subtitle-login-form p {
    color: white;
    font-size: 13px;
    font-weight: 100;
}

.login-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-buttons Button{
    margin-inline: 1rem;
    width: 50%;
}

/* .separator{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    width: 100%;
    color: white;
}

.separator span{
    font-size: 13px;
    font-weight: 100;
    align-items: center;
    justify-content: center;
}

.separator::before {
    content: '';
    flex-grow: 1;
    border-bottom: 1px solid #ddd; 
    margin: 0 10px; 
  } */

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-block: 10px;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
  }
  
  .separator::before {
    margin-right: 10px;
  }
  
  .separator::after {
    margin-left: 10px;
  }
  
  .separator span {
    font-size: 13px;
    font-weight: 100;
    padding: 0 10px;
    color: white;
  }

  .correo-input{
    padding:10px 0;
  }

  .password-input{
    padding:10px 0;
  }

  .login-button{
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .login-button Button{
    margin-inline: 1rem;
    width: 50%;
  }

  button:active{
    border: none;
  }

  .login-inputs{
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  .signup_forgot_pasord{
    padding: 10px 0;
    justify-content: space-between;
    display: flex;
  }

  .signup_forgot_pasord a{
    color:white;
    font-size: 10px;
  }

@media screen and (max-width: 900px) {
    .login-content {
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 3rem;
    }

    .login-image {
        width: 100%;
        height: fit-content;
    }

    .login-form {
        width: 100%;
        height: fit-content ;
    }
  
}