.padding_event {
    padding: 3rem 8rem;
}

.event_page{
    display: flex; /* O display: grid; */
    justify-content: space-between; /* Para que los elementos se distribuyan de manera uniforme */
    flex-direction: column;
    background-color: #d9d9d9;
}

.event_page_left {
    display: flex;
    width: 60%;  
    flex-direction: column;
    align-items: left;
    flex: 2;
}

.event_page_left_top {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: left;
}

.event_image img{
    width: 100%; 
    height: fit-content; 
    object-fit: cover; /* Para que la imagen no se deforme */
} 

/* .event_page_left, .event_page_right {
    flex: 1; 
    width: 50%; 

}
 */

 .event_left{
    flex-direction: column;
 }

 .countdown {
    width: 100%;
    height: fit-content; /* */
    background: linear-gradient(to right, #964B96,#EC6839);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem 1.5rem;
    display: flex;
}


.countdown h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
 }

.event_divisions{
    display: flex;
    justify-content: space-between;
 }

.event_page_right {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: left;
    /* background: linear-gradient(to bottom, #964B96,#EC6839); */
    background-color: #E03D2E;
    padding: 0 ;
    margin: 0 1.5rem;
    flex:1;
}

.low_price{
    width: 100%;
    flex-direction: row;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.event_info_schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    border-block: 1px solid white;
}

.event_dates_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.date_event{
    height: 80px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: white 2px solid;
    border-radius: 4px;
    padding: 0.5rem;
}

.date_event p{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin: 0;
    color: white;
}

.date_event span{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    color: white;
}

.event_schedule {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 1rem;
}

.event_schedule_hours {
    display: flex !important;
    align-items: center !important;
}

.event_schedule h6{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin: 0;
}

.event_schedule_hour {
    margin-right: 24px;
}

.event_schedule_hour p {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin: 0;
    color: white
}

.event_schedule_hour span {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
    color: white;
}


.event_card_parking {
    padding: 1.5rem;
}

.event_tickets_button{
    width: 100%;
}



@media screen and (max-width: 1500px) {
    .event_divisions
    {
        flex-direction: column;
        /* display: flex;
        flex-direction: column-reverse; */
    }

    .event_page_left {
        width: 100%;
    }

    .event_page_right {
        width: 100%;
        margin: 2rem 0;
        margin-left: 0;
    }

    .countdown {
        flex-direction: column;
        
    }

    .padding_event {
        padding: 1rem 1rem;
    }

    .event_info_schedule {
        flex-direction: column;
    }

    .countdown h2{
        font-size: 1rem;
    }
    
}